.valentine_btn{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h1{
    position: absolute;
    top: 280px;
    color: #D6153F;
    font-weight: 600;
    text-transform: uppercase;
  }
}

.heart_btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
    position: absolute;
    transition: opacity 0.8s ease, transform 0.25s ease, ;
    animation: heart 1.8s ease-out infinite;
  
    .image-container {
      position: relative;
      width: 341px;
      height: 310px;
    }
  
    .heart_btn_img {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 1;
      transition: opacity 0.3s ease-in;
  
      &.active {
        opacity: 0;
        animation: likeAnimation 0.5s ease-in-out;
      }
    }
}

@keyframes likeAnimation {
    0% {
      transform: scale(0.95);
    }

    100% {
        transform: scale(1.5);
    }
}

@keyframes heart{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.07);
    }
    100%{
        transform: scale(1);
    }
}

.active_heart_btn{
    animation: likeAnimation 1.6s ease-out;
}